body {
		padding-top: 50px;
		background: black;
	}
	
	.pixel-grid {
		border: 1px solid black;
		display: block;
		height: 8px;
		width: 8px;
		float: left;
	}
	
	#frame {
		margin: 0 auto;
		width: 120px;
		height: 160px;
	}
